<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174082664505-54mg11jkslbpmssi2avu1pc5j772uru8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174082664505-54mg11jkslbpmssi2avu1pc5j772uru8</string>
	<key>API_KEY</key>
	<string>AIzaSyCHkOvqwShaqsZU4gNz6rXQjv9nZ_4SoO4</string>
	<key>GCM_SENDER_ID</key>
	<string>174082664505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>cryptowallet-f79b1</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptowallet-f79b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174082664505:ios:99369b0a808e834b8445e8</string>
</dict>
</plist>