<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221670945723-netfdugihqdnqifslke0m4faictofubn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221670945723-netfdugihqdnqifslke0m4faictofubn</string>
	<key>API_KEY</key>
	<string>AIzaSyB2etZE8b2BDdLbH7Ozs0oASL3dPRRFHUI</string>
	<key>GCM_SENDER_ID</key>
	<string>221670945723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AVS1508.foliage</string>
	<key>PROJECT_ID</key>
	<string>foliage-1805</string>
	<key>STORAGE_BUCKET</key>
	<string>foliage-1805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221670945723:ios:f09f1d91a06eeda9c5ca9e</string>
</dict>
</plist>